# Tệp tạm thời và đầu ra của LaTeX
*.aux
*.log
*.out
*.toc
*.lot
*.lof
*.fls
*.fdb_latexmk
*.synctex.gz
*.run.xml
*.bcf

# Tệp hệ thống Windows (Zone.Identifier)
*:Zone.Identifier

# Nếu muốn giữ lại images nhưng loại bỏ tệp Zone.Identifier trong đó
images/*:Zone.Identifier

# Loại bỏ các tệp không cần thiết khác (nếu có)
*.bak
*.tmp